@import "../../variables";

main {
    margin-top: 3.875rem;
    .crew {
        .content {
            h3,
            h4 {
                text-transform: uppercase;
                font-family: $ff-serif;
            }
            .crewRole {
                font-size: clamp($fs-normal, 3.15vw, $fs-biggest);
                opacity: 0.5;
            }
            .crewName {
                margin-top: clamp(0.5rem, 1.04vw, 0.9375rem);
                margin-bottom: clamp(1rem, 2vw, 1.6875rem);
            }
            nav {
                margin-block: clamp(2rem, 5.5vw, 7.5rem);
                button {
                    width: 0.9375rem;
                    aspect-ratio: 1;
                    opacity: 17.44%;
                    border-radius: 50%;
                    &:not(:last-of-type) {
                        margin-right: 1.5rem;
                    }
                    span {
                        display: none;
                    }
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .crewImg {
        max-height: 43.75rem;
        display: inline-grid;
    }
}

/* --------------------------- */
/*=== Mobile Design (320px) ===*/
/* --------------------------- */
@media only screen and (max-width: 47.99em) {
    main {
        section {
            .crewImg {
                border-bottom: 1px solid #383b4b;
            }
        }
    }
}

/* --------------------------- */
/*=== Tablet Design (768px) ===*/
/* --------------------------- */
@media only screen and (min-width: 48em) {
    .crew {
        .content {
            display: grid;
            nav {
                order: 4;
            }
        }
    }
}
/* ---------------------------- */
/*=== Desktop Design (1024px) ===*/
/* ---------------------------- */
@media only screen and (min-width: 64em) {
    .crew {
        justify-content: space-between;
        .content {
            .description {
                max-width: 43.4ch;
            }
        }
        .crewImg {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
    }
}
