@import "../../variables";

.home {
    font-family: $ff-serif;
    font-weight: 400;
    display: grid;
    h1,
    h5,
    a {
        text-transform: uppercase;
    }
    .homeContent {
        h5 {
            font-size: clamp(16px, 2.65vw, 28px);
            font-family: $ff-sans-cond;
            font-weight: 400;
            letter-spacing: clamp(2.7px, 0.44vw, 4.75px);
        }
        h1 {
            font-weight: 400;
            font-size: clamp(80px, 19.54vw, 150px);
            margin-block: clamp(1rem, 4vw, 1.5rem);
        }
        p {
            font-size: clamp(15px, 2.1vw, 18px);
            font-family: $ff-sans;
            line-height: clamp(25px, 3.65vw, 32px);
            color: $accent;
        }
    }
    .homeBtn {
        a {
            background-color: $light;
            border-radius: 50%;
            color: $dark;
            display: inline-grid;
            place-items: center;
            aspect-ratio: 1;
            width: clamp(9.375rem, 31.52vw, 17.125rem);
            font-size: clamp(20px, 5vw, 32px);
            letter-spacing: clamp(1.25px, 0.27vw, 2px);
            position: relative;
            z-index: 2;
            &::after {
                content: "";
                width: 100%;
                aspect-ratio: 1;
                position: absolute;
                background-color: rgba($color: $light, $alpha: 0.5);
                border-radius: 50%;
                opacity: 0.5;
                transform: scale(1);
                z-index: -1;
                transition: transform 0.3s ease-in-out;
            }
            &:hover {
                &::after {
                    transform: scale(1.4);
                }
            }
        }
    }
}

/* --------------------------- */
/*=== Mobile Design (320px) ===*/
/* --------------------------- */
@media only screen and (max-width: 47.99em) {
    main {
        .home {
            text-align: center;
            .homeContent {
                padding-inline: clamp(1.5rem, 5vw, 10.3125rem);
            }
        }
    }
}

/* --------------------------- */
/*=== Tablet Design (768px) ===*/
/* --------------------------- */
@media only screen and (min-width: 48em) {
    main {
        .home {
            text-align: center;
            padding-inline: clamp(1.5rem, 20.73vw, 10.3125rem);
        }
    }
}

@media only screen and (max-width: 63.99em) {
    main {
        .home {
            margin-top: clamp(3rem, 14vw, 15.6875rem);
            .homeContent {
                margin-bottom: clamp(5.0625rem, 14vw, 9.75rem);
            }
        }
    }
}

/* ---------------------------- */
/*=== Desktop Design (1024px) ===*/
/* ---------------------------- */
@media only screen and (min-width: 64em) {
    main {
        .home {
            text-align: left;
            grid-template-columns: repeat(2, min-content);
            justify-content: space-between;
            align-items: end;
        }
    }
}
