@import "../../variables";

.destination {
    button,
    h5 {
        font-family: $ff-sans-cond;
        font-weight: 400;
    }
    .destinationHead {
        h5 {
            text-transform: uppercase;
            letter-spacing: $ls-widest;
            span {
                opacity: 0.25;
                font-weight: bold;
                margin-right: 1.75rem;
            }
        }
    }
    .destinationBody {
        display: grid;
        .destinationImg {
            img {
                width: clamp(10.625rem, 39.07vw, 27.8125rem);
            }
        }
        .destinationContent {
            button,
            .destinationName,
            .destinationInfo {
                text-transform: uppercase;
            }
            .destinationNav {
                button {
                    letter-spacing: $ls-wider;
                    background: transparent;
                    color: $light;
                    border: none;
                    padding-bottom: 0.75rem;
                    &:not(:last-of-type) {
                        margin-right: 2.1875rem;
                    }
                }
                .active {
                    border-bottom: 3px solid $light;
                }
            }
            .destinationDetails {
                h2,
                .subTxt {
                    font-family: $ff-serif;
                }
                h2 {
                    font-size: $fs-larger;
                    font-weight: 400;
                }
                .destinationDescription {
                    font-family: $ff-sans;
                    line-height: 2rem;
                    color: $accent;
                }
                .subTitle {
                    font-size: $fs-small;
                    letter-spacing: $ls-wide;
                }
                .subTxt {
                    font-size: $fs-bigger;
                }
            }
        }
    }
}

/* --------------------------- */
/*=== Mobile Design (320px) ===*/
/* --------------------------- */
@media only screen and (max-width: 47.99em) {
    body {
        background-image: $bgDestinationImgMobile;
    }
}

/* --------------------------- */
/*=== Tablet Design (768px) ===*/
/* --------------------------- */
@media only screen and (min-width: 48em) {
    body {
        background-image: $bgDestinationImgTablet;
    }
}

/* ---------------------------- */
/*=== Desktop Design (1024px) ===*/
/* ---------------------------- */
@media (min-width: 64em) {
    body {
        background-image: $bgDestinationImgDesktop;
    }
    .destinationBody {
        grid-template-columns: repeat(2, 40%);
        place-items: center;
        justify-content: space-around;
    }
}
