@import "../../variables";

.destination {
    .body {
        display: grid;
        column-gap: 9.8125rem;
        row-gap: clamp(1.625rem, 6.95vw, 3.3125rem);
        .destinationImg {
            img {
                width: clamp(10.625rem, 39.07vw, 27.8125rem);
            }
        }
        .content {
            button,
            .destinationName,
            .destinationInfo {
                text-transform: uppercase;
            }
            .destinationNav {
                margin-bottom: 2.3125rem;
                button {
                    letter-spacing: $ls-wider;
                    background: transparent;
                    color: $light;
                    border: none;
                    padding-bottom: clamp(0.5rem, 2.1vw, 0.75rem);
                    &:not(:last-of-type) {
                        margin-right: clamp(1.625rem, 5vw, 2.1875rem);
                    }
                    &:hover {
                        border-bottom: 3px solid rgba($color: $light, $alpha: 0.5);
                    }
                    &.active {
                        border-bottom: 3px solid $light;
                    }
                }
            }
            .destinationDetails {
                h2,
                .subTxt {
                    font-family: $ff-serif;
                }
                h2 {
                    font-size: clamp(3.5rem, 10.5vw, $fs-larger);
                }
                .description {
                    border-bottom: 1px solid #383b4b;
                    padding-bottom: clamp(2rem, 6.39vw, 3.375rem);
                }
                .subTitle {
                    font-size: $fs-small;
                    letter-spacing: $ls-wide;
                    margin-bottom: 0.75rem;
                }
                .subTxt {
                    font-size: $fs-bigger;
                }
            }
        }
    }
}

/* --------------------------- */
/*=== Mobile Design (320px) ===*/
/* --------------------------- */
@media only screen and (max-width: 47.99em) {
    .destinationInfo {
        margin-top: 2rem;
        .destinationDistance {
            margin-bottom: 2rem;
        }
    }
}

/* --------------------------- */
/*=== Tablet Design (768px) ===*/
/* --------------------------- */
@media only screen and (min-width: 48em) {
    .destinationInfo {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.75rem;
    }
}

/* ---------------------------- */
/*=== Desktop Design (1024px) ===*/
/* ---------------------------- */
@media only screen and (min-width: 64em) {
    .destination {
        row-gap: 4rem;
        .body {
            text-align: left;
            grid-template-columns: repeat(2, minmax(38%, 27.8125rem));
            justify-content: space-between;
            .destinationInfo {
                justify-content: start;
                column-gap: 4.9375rem;
            }
        }
    }
}
