@import "../../variables";

.destination {
    h5 {
        font-family: $ff-sans-cond;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: $ls-widest;
        span {
            opacity: 0.25;
            font-weight: bold;
            margin-right: 1.75rem;
        }
    }
}

/* --------------------------- */
/*=== Mobile Design (320px) ===*/
/* --------------------------- */
@media only screen and (max-width: 47.99em) {
    body {
        background-image: $bgDestinationImgMobile;
    }
}

/* --------------------------- */
/*=== Tablet Design (768px) ===*/
/* --------------------------- */
@media only screen and (min-width: 48em) {
    body {
        background-image: $bgDestinationImgTablet;
    }
}

/* ---------------------------- */
/*=== Desktop Design (1024px) ===*/
/* ---------------------------- */
@media (min-width: 64em) {
    body {
        background-image: $bgDestinationImgDesktop;
    }
}
